common/bch/COPYING
common/bch/INSTALL
common/carena/COPYING
common/carena/INSTALL
common/ds/COPYING
common/ds/INSTALL
common/encoding/COPYING
common/encoding/INSTALL
common/utils/COPYING
common/utils/INSTALL
platform/datetime/COPYING
platform/datetime/INSTALL
platform/osal/COPYING
platform/osal/INSTALL
*.idb
*.tlog
*.opensdf
*.sdf
